
<div id="background">
  <header class="cf">
    <div class="wrapper_wide">
     
      <nav>
        <ul>
         <li><a href="#">explor</a></li>
         <li><a href="#">signin</a></li>
         <li><a href="#">create podcast</a></li>
        
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper_skinny">
    <h1>Discover your new favorite <span class="responsive_break">podcast, or create your own.</span></h1>
   <a href="#">createpodcast</a>
    <a href="#">explore</a>
  </div>
</div>